<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Henry Zhu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Henry Zhu professional website">
    <title>Henry Zhu</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Henry Zhu</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div>
        <h2>Curriculum Vitae</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Education</td>
                    <td>Carnegie Mellon University, Information Systems</td>
                </tr>
                <tr>
                    <td>Experience</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Skills</td>
                    <td>HTML</td>
                </tr>
            </tbody>
        </table>

        <a href="../static/Resume.pdf" target="_blank">My resume (pdf)</a>
    </div>
    <footer>
        &copy; 2025 design and coded by Henry Zhu
    </footer>
</body>
</html>