<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Henry Zhu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Henry Zhu professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Henry Zhu</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Henry Zhu</h1>
        <nav>
            <a href="../index.html">About</a>
            <a href="cv.html">Resume</a>
            <a href="contact.html">Contact</a>
            <a href="fun.html">Play</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div id="item1">
            <h2>Things I love to do for fun</h2>
            <!-- <button onclick="showList()">Click to see...</button> -->
            <ul>
                <li>Write HTML code</li>
                <li>Go to 67250 classes</li>
                <li>Do matrix calculus</li>
            </ul>
        </div>
        <div id="item2">
            <img src="../static/fun_picture.png" alt="WebDev" class="funIMG">
        </div>
        <div id="item3">
            <iframe class="funVID"
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/sMYVNk0axvQ?si=f4i9KhFcogaXVlCV" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen></iframe>
        </div>
        <div class="container" id="item4">
            <h2>Need Some Advice?</h2>
            <p id="adviceText">Click the button to get a random piece of advice!</p>
            <button onclick="getAdvice()">Get Advice</button>
        </div>
    </div>
    <footer id="copyYear">
        <p></p>
    </footer>
</body>
</html>