<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Henry Zhu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Henry Zhu professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <title>Henry Zhu</title>
</head>
<body>
    <header>
        <h1 id="webname">Henry Zhu</h1>
        <nav>
            <a href="../index.html">About</a>
            <a href="cv.html">Resume</a>
            <a href="contact.html">Contact</a>
            <a href="fun.html">Play</a>
        </nav>
    </header>
    <div>
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Write HTML code</li>
            <li>Go to 67250 classes</li>
            <li>Do matrix calculus</li>
        </ul>
    </div>
    <footer>
        &copy; 2025 design and coded by Henry Zhu
    </footer>
</body>
</html>