:root {
    --primary-color: #92ad70
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: black;
    padding: 5px;
    margin: 5px;
}

header {
    color: black;
}

#webname {
    color: white;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 15px;
}

th {
    padding: 12px;
    background-color: grey;
    color: white;
    width: fit-content;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

#submit {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

div button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#bioToggle p {
    font-size: 16px;
    margin: 10px 0;
}

#bioToggle button {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.funIMG {
    border-radius: 100%;
}

.container {
    border-radius: 100%;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}
